!!! 5
%html

  %head

    %meta{charset: "UTF:8"}

    %title Coffee and Stout

    = stylesheet_link_tag "styles"

  %body

    .page-wrapper
      %main
        = yield

      %footer
        .icon-wrapper
          = link_to " ", "https://github.com/wmurray", class: "icon-github"
          = link_to " ", "https://twitter.com/wilroc", class: "icon-twitter"
          = link_to " ", "https://www.linkedin.com/in/wmurray86",
            class: "icon-linkedin"

