%a#top

  %header
    %h1 Coffee and Stout

    %nav.main
      %ul.clearfix
        %li
          = link_to "Education", "#ed"
        %li
          = link_to "Skills", "#skills"
        %li
          = link_to "Employment", "#emp"
        %li
          = link_to "Contact", "#contact"

  .container

    %section.intro

      = image_tag "/images/me.jpg"

      %h2 Howdy!

      %p
        My name is William Murray, but you can call me Will. I am a budding web
        developer living in the Boston, Massachusetts area. I am currently
        employed as a computer technician. I love music and play 2 instruments
        (drums and guitar), enjoy riding my bicycle when the weather is warm,
        and try to carry my camera with me everywhere. I occasionally brew (and
        more than occasionally sample) beer, build computers, and sometimes you
        can find me on Steam or XBox Live.
      %a#ed

    %section

      %h2 Education

      %p
        I received my Bachelor of Fine Arts in Graphic Design from Emmanuel
        College in Boston, Massachusetts. My studies lasted from 2004 to 2008
        when I received my degree. Areas of study included both traditional art 
        media courses as well as digital.

      %p
        After receiving my degree, I applied my skills to some freelance work in
        photography and design and began to self-teach HTML, CSS, JavaScript/jQuery,
        and a little bit of Ruby.

      %p
        Recently I decided to further my education with a solid foundation, so I
        applied to a Front End Web Development program through General Assembly.
        I completed the 12-week program which covers HTML and CSS, as well as
        diving into JavaScript, jQuery, and more. I am continuing studiea with a
        small group of friends from the course.

      = link_to "top", "#top", class: "toplink"

    %a#skills

    %section

      %h2 Skills

      %p
        My skillset is ever-growing, but currently I have experience with the following:

      %ul
        %li HTML/CSS
        %li JavaScript/jQuery
        %li Adobe Creative Suite softwares
        %li Mac OS X and Windows operating systems
      %p
        In addition to these softwares, I am also fully Macintosh OS X and
        hardware certified with 4 years of troubleshooting and repair experience.
        I also have experience in building out, imaging, and configuring PC
        systems and peripherals.

      = link_to "top", "#top", class: "toplink"

    %a#emp

    %section

      %h2 Employemnt

      %p
        For employment history and status, please
        = mail_to "will.murray@gmail.com", "email me"
        to request a copy of my CV.

      %h2 Work

      %p
        Below are some examples of my web development projects. Though they are 
        functional, they are all subject to being updated/refactored/improved.
        This is not all of the work I have done, just a small smattering.

      %h2 Freelance

      %p
        I have produced some freelance work. Most of this work has been
        distributed digitally via iTunes and other outlets:</p>

      %ul.freelance

        %li

          = image_tag "/images/me1.jpg", class: "work"

          %p
            = link_to "The Understudies", "http://www.understudiesmusic.com"
            Missing Exits: Album cover design, photography, layout, and type
            treatment. Type treatment and layout for inside jacket. Print and
            digital distribution.

        %li

          = image_tag "/images/rtn.jpg", class: "work"

          %p
            = link_to "The Understudies", "http://www.understudiesmusic.com"
            Remember the Night: Album cover design, photography, layout, and
            type treatment for digital distribution of single "Remember the Night."

        %li

          = image_tag "/images/glat.jpg", class: "work"

          %p
            = link_to "Wave First", "https://www.facebook.com/wavefirstmusic"
            Give Love a Try: Album cover layout and type treatment for digital
            distribution of single "Give Love a Try." Photography by Kristin Will.

        %li

          = image_tag "/images/via.jpg", class: "work"

          %p
            = link_to "Fatty", "http://fattyftw.com"
            Via Local: Album cover design for digital distribution of single "Via Local."

        = link_to "top", "#top"

    %a#contact

    %section

      %h2 Contact

      %p
        Need some web, design, or photography work done? Awesome! Just want to 
        reach out? Good, bad, or otherwise, I'd love to hear from you! Please
        feel free to drop me a line
        = mail_to "will.murray@gmail.com", "here"

      = link_to "top", "#top", class: "toplink"
